<h2>{{contacts.length}} contacts</h2>

<!-- champ de recherche de contacts-->
<input type="text" class="form-control" placeholder="Rechercher un contact..." #champ
   (keyup)="searchContact(champ.value)" />

<!-- liste -->
<ul class="list-group">
   <li class="list-group-item d-flex justify-content-between" *ngFor="let contact of contacts">
      <!-- bloc de gauche -->
      <span>
         <button (click)="deleteContact(contact)" class="btn btn-light">
            <i class="fas fa-trash-alt"></i>
         </button>
         {{contact.first}} {{contact.last}}
      </span>
      <!-- Bloc de droite -->
      <span>
         Ajouté le 17/05/2021
         <button class="btn btn-light">
            <i class="fas fa-star"></i>
         </button>
      </span>
   </li>
</ul>

<div>

   <div class="row">
      <div class="col">
         <h2>dbContactact</h2>
         <pre>
            {{ dbContacts | json }}
         </pre>
      </div>
      <div class="col">
         <h2>contacts</h2>
         <pre>
            {{ contacts | json }}
         </pre>
      </div>
   </div>